
*.sln
*.suo
*.csproj
*.bqd
*.oqt
*.g.cs
*.g.resources
*.i.lref
*.lref
*.baml
*.g.i.cs
*.config


Python
Xml
PostBuildCopy\PostBuildCopy\bin
PostBuildCopy\PostBuildCopy\obj
PostBuildCopy\PostBuildCopy\Properties

obj/
bin/